.DS_Store
BayesAdapter/*
BayesAdapter
__pycache__
optimizers/__pycache__
reproduction/models/__pycache__
reproduction/dataset/__pycache__
mean_field_layers/__pycache__
data
exps/launch1.sh
exps/baselines/lid_face.py
exps/baselines/model_irse_lid.py
